header {
  text-align: center;
  background-color: rgb(126, 214, 255);
}

.grid1 {
  display: grid;
  grid-template-columns: 30% 70%;
}
.grid2 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  border: 1px solid rgb(168, 142, 142);
}
.grid3 {
  border: 1px solid rgb(168, 142, 142);
}
.grid4 {
  display: grid;
  grid-template-columns: 50% 50%;
  border: 1px solid rgb(168, 142, 142);
}
.grid5 {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  border: 1px solid rgb(168, 142, 142);
}
.grid3 div {
  display: grid;
  grid-template-columns: 50%;
}

.grid3 div:hover {
  border: 1px solid rgb(116, 116, 89);
}

div {
  background: rgb(126, 214, 255);
  padding: 1em;
}
.foto {
  width: 300px;
}
